# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/

# Distribution / Packaging (for later when you use PyInstaller)
dist/
build/
*.spec
# WSL and build folders
.venv-linux/
.venv/
dist/
build/
__pycache__/
*.pyc
